/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

.leaflet-popup-content {
  text-align: center;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #555;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

.legend i {
  padding: 6px 8px;
  width: 14px;
  height: 14px;
  float: left;
}

.scale {
  color: #38d807;
  color: #c5e874;
  color: #dcbb39;
  color: #eba611;
  color: #da7509;
  color: #de4b15;
}